$cell-height:83px;
.epg-container {
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
    display: flex;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background-color: black;
    .toolbar {
        position: absolute;
        top: 0;
        height: 50px;
        width: 100%;
        z-index: 6;
        a {
            text-decoration: none;
            display: inline-block;
            padding: 8px 16px;
            color: white;
            height: 100%;
            &:hover {
                background-color: #ddd;
                color: black;
            }
        }
    }
    .right-arrow {
        position: absolute;
        right: 10px;
        top: 50%;
    }
    .glyphicon-chevron-right {
        height: 100px;
    }
    .filter-search-bar {
        height: 60px;
        color: white;
        background-color: rgb(24, 24, 24);
        font-size: 20px;
        .dropdown-menu {
            background-color: black;
            border: 2px solid white;
            left: 50%;
            right: auto;
            text-align: center;
            transform: translate(-50%, 0);
            li a {
                font-size: 20px;
                color: white;
                &:hover {
                    color: rgb(250, 150, 9);
                    background-color: black;
                }
            }
        }
        .dropdown-toggle {
            background-color: black;
            border: 2px solid white;
            border-radius: 20px;
            color: rgb(250, 150, 9);
            &:hover {
                background-color: black;
            }
        }
        .btn-default .caret {
            border-top: 4px solid;
        }
        .btn-group.open .dropdown-toggle {
            background-color: black;
        }
        .time-zone {
            padding-left: 20%;
        }
        .genre-search {
            position: relative;
            input {
                background-color: black;
                color: white;
                width: 90%;
                border: 2px solid white;
                border-radius: 20px;
                position: relative;
                padding: 0 0 0 12%;
                height: 36px;
                &:focus {
                    outline: none;
                    border-color: rgb(250, 150, 9);
                }
            }
            .dropdown-toggle {
                color: white;
                background-color: rgb(0, 174, 237);
            }
            .btn-group {
                position: absolute;
                display: block;
                top: 0;
            }
        }
    }
    ul.listings-grid {
        list-style-type: none;
        padding: 0;
        margin: 0;
        white-space: nowrap;
        background-color: rgb(38, 38, 38);
        &.grid-channels {
            z-index: 5;
            margin-top: 50px;
        }
        &.grid-progs {
            z-index: 4;
            overflow: hidden;
            position: relative;
            width: 100%;
            .listings-grid-progs {
                position: absolute
            }
        }
        .listings-timebar {
            color: white;
            height: 50px;
        }
        .listings-channel-row {
            height: auto;
            padding: 0;
            border-bottom: solid;
            border-bottom-width: 6px;
            border-color: rgb(38, 38, 38);
            overflow: hidden;
            display: flex;
            position: relative;
        }
        .listings-timebar-time {
            vertical-align: middle;
            float: left;
        }
        .listings-channel {
            color: white;
            height: $cell-height;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .listings-program {
            height: $cell-height;
            color: rgb(152, 152, 152);
            border-right: solid;
            border-right-width: 3px;
            border-left: solid;
            border-left-width: 3px;
            border-color: rgb(38, 38, 38);
            min-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: black;
            background-size: 20% auto;
            .listings-details {
                float: left;
            }
            .listings-details-first {
                color: rgb(250, 150, 9);
            }
            .listings-program-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
}