form.search {
    position: absolute;
    top: 2rem;
    right: 10px;
    .container-2 {
        width: 350px;
        vertical-align: middle;
        white-space: nowrap;
        position: relative;
        .icon {
            position: absolute;
            top: 50%;
            margin-left: 17px;
            margin-top: 17px;
            z-index: 1;
            color: #4f5b66;
            line-height: 12px;
        }
        input#search {
            width: 50px;
            height: 50px;
            background: rgba(43, 48, 59, 0.6);
            border: none;
            font-size: 10pt;
            float: left;
            padding-left: 55px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            color: #fff;
            -webkit-transition: all 0.55s ease;
            -moz-transition: all 0.55s ease;
            -ms-transition: all 0.55s ease;
            -o-transition: all 0.55s ease;
            transition: all 0.55s ease;
            &::-webkit-input-placeholder {
                color: #65737e;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #65737e;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #65737e;
            }
            &:-ms-input-placeholder {
                color: #65737e;
            }
            &:focus,
            &:active {
                outline: none;
                width: 300px;
                outline: none;
                width: 100%;
                background-color: rgba(43, 48, 59, 1);
            }
        }
        &:hover input#search {
            width: 300px;
        }
        &:hover .icon {
            color: white;
        }
    }
    .container-2 .container-2:hover input#search {
        width: 100%;
    }
}