@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #212529;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #191925 !important;
    height: 100vh;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    color: white;
}

.row-section {
    margin-bottom: 50px;
    background-color: #191925;
    width: 100%;
}

.row-section h2 {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
}

.row-section h2 span {
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 45px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

.row-section h2 a {
    color: #d2abce;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#vline {
    position: fixed;
    height: 100%;
    width: 0px;
    border: 1px solid red;
    top: 0;
    left: 0;
    z-index: 1000000
}

#listings {
    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: -1px 3px 6px 0px #0000006b;
}

#listings tr {
    border-bottom: 1px solid #231c1c;
}

table.internal {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    text-align: left;
    border: 0px;
    height: 100%;
}


td.extendleft {
    margin: 0px;
    padding: 3px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    white-space: normal;
    font-size: small;
}

td.extendleft span {
    display: none;
}

td.extendright {
    margin: 0px;
    padding: 3px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    white-space: normal;
    font-size: small;
    background: #FFF url(../images/yahoonewprogrambg.gif) repeat-x 0 0;
}

td.extendright span {
    display: none;
}

td.program {
    text-align: left;
    font-family: arial, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    margin: 0px;
    padding: 1px;
    border: 0px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
    height: 50px;
    width: 100%;
    color: white;
    background-position: bottom left;
}

td {
    margin-left: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    vertical-align: top;
    height: 30px;
    white-space: nowrap;
}

td.extendright td.program {
    padding: 0px;
    border: 0px;
}

td.empty {
    background-image: url(../images/empty.gif);
}

th {
    font-family: arial, sans-serif;
    font-stretch: narrower;
    font-size: 10pt;
    overflow: hidden;
}


th.channel {
    text-align: center;
    padding: 0px;
    overflow: hidden;
    background-color: #191925;
    color: #d3ef01;
    font-size: 8pt;
}

tr.timebar {
    background-color: #191925;
}

th.time {
    text-align: left;
    cursor: pointer;
}

th.time::before {
    font: normal normal normal 14px/1 FontAwesome !important;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    content: "\f142";
    color: #ffff88;
}

th.topleftcorner {
    height: 22px;
    cursor: pointer;
    width: 120px;
}

th.toprightcorner {
    height: 22px;
    cursor: pointer;
    width: 48px;
}

hr {
    border: 0px;
    background-color: black;
    height: 1px;
}

.subtitle {
    font-style: italic;
}

.starlist {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 15px;
    position: relative;
}

.starlist li {
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 15px;
    float: left;
}

.starlist li span {
    display: none;
}

.starlist li.starempty {
    background-image: url(../images/starempty.gif);
}

.starlist li.starhalf {
    background-image: url(../images/starhalf.gif);
}

.starlist li.starfilled {
    background-image: url(../images/starfilled.gif);
}

/*End Popup section*/
.leftchannel {
    display:flex; 
    flex-direction:row;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 50px;
}

.leftchannel .leftlogocell {
    border: 0px;
    max-width: 50px;
}

td.Goodmovie {
    background-color: #ff9 !important;
}

td.Goodmovie table td {
    background-color: #ff9;
}

td.program {
    cursor: pointer;
}

td.movie,
td.film,
td.Newshow {
    border: 2px solid #666;
    background-color: rgb(64, 17, 50) !important;
}

td[class*='foot'].Longshow,
td[class*='fudbal'].Longshow,
td[class*='match'].Longshow,
td[class*='tennis'].Longshow,
td[class*='league'].Longshow,
td[class*='copa'].Longshow,
td[class*='cup'].Longshow {  
    border: 2px solid #666;
    background-color: rgb(20, 54, 5) !important
}

.table-dark th,
.table-dark thead th {
    border-color: #001224 !important;
}

.table-dark {
    background-color: #0f121b !important;
}

/********************************************  clock ************************************************/

#barclock {

    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

#barclock .time {
    position: fixed;
    top: 7px;
    right: 9px;
    letter-spacing: 0.05em;
    font-size: 20px;
}

/********************************************  Loading ************************************************/

#loading {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #000000;
    font-family: arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background-color: #033647;
    text-align: center;
    padding: 10px;
}

#loadingcontainer {
    width: 100vh;
    position: absolute;
    left: 50%;
    top: 30%;
    z-index: 10;
}

#loading {
    position: absolute;
    left: -100px;
    z-index: 10;
    display: none;
}