/****** snackbar********/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: aquamarine;
    text-align: center;
    border-radius: 0 30px;
    padding: 10px;
    position: fixed;
    z-index: 25;
    right: 2px;
    bottom: 50px;
    +.show {
        visibility: visible;
        -webkit-animation: fadein 1s;
        animation: fadein 1s;
    }
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 50px;
        opacity: 1;
    }
}