@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Charmonman');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #191925 !important;
    height: 100vh;
}
.bg-dark {
    background-color: #191925 !important;
    box-shadow: 0px -1px 9px 3px black;
}
.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
    color: white;
}

.row-section {
    margin-bottom: 50px;
    background-color: #191925;
    width: 100%;
}

.row-section h2 {
    float: left;
    width: 100%;
    color: white;
    margin-bottom: 30px;
    font-size: 14px;
}

.row-section h2 span {
    font-family: 'Libre Baskerville', serif;
    display: block;
    font-size: 45px;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 30px;
    font-weight: 700;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}

.row-section h2 a {
    color: #d2abce;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

#tvframe {
    position: relative;
}

#vline {
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    z-index: 25;
    border-right: 3px #800808 solid;
    box-shadow: 4px 8px 16px 3px #805353;
    transition: margin 1s cubic-bezier(0.23, 1, 0.320, 1);
}

#vline .vheader {
    position: absolute;
    top: 0;
    left: -16px;
    width: 36px;
    height: 14px;
    overflow: hidden;
}

#vline .vheader::after {
    content: "";
    position: absolute;
    left: -3px;
    width: 42px;
    height: 27px;
    background-color: #ff00ee;
    background: radial-gradient(#ff0002 6%, #000000);
}

#listings {

    table-layout: fixed;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    box-shadow: -1px 3px 6px 0px #0000006b;
}

#listings tr {
    border-bottom: 1px solid #231c1c;
}

div.internal {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    margin: 0px;
    text-align: left;
    border: 0px;
    height: 100%;
}


i.extendleft {
    margin: 0px;
    padding: 3px;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    white-space: normal;
    font-size: small;

}

i.extendright {
    margin: 0px;
    padding: 3px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    white-space: normal;
    font-size: small;
}


div.program {
    text-align: left;
    font-family: arial, sans-serif;
    font-size: 9pt;
    padding: 1px;
    margin: 0px;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    height: 100%;
    line-height: 4em;
    background: #141E30;
    background: -webkit-linear-gradient(to right, #243b55a3, #141e30b8);
    background: linear-gradient(to right, #4874a5 3px, transparent 5%, #141e30);
}

div.program::before,
div.program::after {
    font: normal normal normal 14px/1 FontAwesome !important;
    display: inline-block;
    vertical-align: middle;
    color: #ffff88;
    font-weight: bold;
}

div.program.extendleft::before {
    padding-right: 3px;
    content: "\f100 ";
}

div.program.extendright::after {
    padding-left: 3px;
    content: "\f101";
}

td {
    margin-left: 1px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-left: 1px solid #c2c2c2;
    border-right: 1px solid #c2c2c2;
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
}

td.extendright td.program {
    padding: 0px;
    border: 0px;
}

td.empty {
    background-image: url(../images/empty.gif);
}

th {
    font-family: arial, sans-serif;
    font-stretch: narrower;
    font-size: 10pt;
    overflow: hidden;
}


th.channel {
    text-align: center;
    padding: 0px;
    overflow: hidden;
    background-color: #191925;
    color: #d3ef01;
    font-size: 8pt;
}

tr.timebar {
    background-color: #191925;
}

th.time {
    text-align: left;
    cursor: pointer;
}

th.time::before {
    font: normal normal normal 14px/1 FontAwesome !important;
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    content: "\f142";
    color: #ffff88;
}

th.topleftcorner {
    height: 22px;
    cursor: pointer;
    width: 120px;
}

th.toprightcorner {
    height: 22px;
    cursor: pointer;
    width: 48px;
    text-align: right;
}

hr {
    border: 0px;
    background-color: black;
    height: 1px;
}

.subtitle {
    font-style: italic;
}

.starlist {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 15px;
    position: relative;
}

.starlist li {
    padding: 0px;
    margin: 0px;
    width: 15px;
    height: 15px;
    float: left;
}

.starlist li span {
    display: none;
}

.starlist li.starempty {
    background-image: url(../images/starempty.png);
}

.starlist li.starhalf {
    background-image: url(../images/starhalf.png);
}

.starlist li.starfilled {
    background-image: url(../images/starfilled.png);
}

/*End Popup section*/
.leftchannel {
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    height: 50px;
}

.leftchannel .leftlogocell {
    border: 0px;
    max-width: 50px;
}

.leftchannel .leftlogocell img {
    max-width: 70%;
    max-height: 100%;
}

td.Goodmovie {
    background-color: #ff9 !important;
}

td.Goodmovie table td {
    background-color: #ff9;
}

td.program {
    cursor: pointer;
}

td.movie,
td.film,
td.Newshow {
    border: 2px solid #666;
    background-color: rgb(64, 17, 50) !important;
}

td[class*='foot'].Longshow,
td[class*='fudbal'].Longshow,
td[class*='match'].Longshow,
td[class*='tennis'].Longshow,
td[class*='league'].Longshow,
td[class*='copa'].Longshow,
td[class*='cup'].Longshow {
    border: 2px solid #666;
    background-color: rgb(20, 54, 5) !important
}

.table-dark th,
.table-dark thead th {
    border-color: #001224 !important;
}

.table-dark {
    background-color: #0f121b !important;
}

/********************************************  clock ************************************************/

#barclock {

    font-family: 'Share Tech Mono', monospace;
    color: #ffffff;
    text-align: center;
    /* -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #daf6ff;
    text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0); */
}

#barclock .time {
    /* position: absolute;
    top: 7px;
    right: 9px; */
    letter-spacing: 0.05em;
    font-size: 12px;
}

/********************************************  Loading ************************************************/

#loading {
    position: absolute;
    top: 50%;
    left: 30%;
    border: 1px solid #000000;
    font-family: arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: white;
    background-color: #033647;
    text-align: center;
    padding: 10px;
    width: 50%;
    z-index: 10;
}

/****** Popper js ********/

.popover {
    color: white !important;
    background-color: transparent !important;
}

.popover-header {
    font-family: 'Charmonman', cursive;
    background-color: #000000 !important;
    color: yellow;
    text-align: center
}

.popover .popover-body {
    color: white !important;
    background-color: #000000c4;
}

.popover .popover-body img.popupimage {
    margin: 10px;
    border: 1px solid #1b1b17;
}

/****** snackbar********/

#snackbar {
    visibility: hidden;
    min-width: 250px;
    background-color: #8c2494;
    color: #fff;
    text-align: center;
    border-radius: 0 30px;
    padding: 10px;
    position: fixed;
    z-index: 25;
    right: 2px;
    bottom: 50px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 1s;
    animation: fadein 1s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 50px;
        opacity: 1;
    }
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 *
 * View the Sass/SCSS source at:
 * http://www.cssflow.com/snippets/dark-and-light-dropdown-lists/demo/scss
 *
 * Original PSD by Hemn Chawroka: http://goo.gl/nXZHJ
 */

.dropdown {
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 150px;
    background: #f2f2f2;
    border: 1px solid;
    border-color: white #f7f7f7 whitesmoke;
    border-radius: 3px;
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.dropdown:before,
.dropdown:after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 9px;
    right: 10px;
    width: 0;
    height: 0;
    border: 4px dashed;
    border-color: #888888 transparent;
    pointer-events: none;
}

.dropdown:before {
    border-bottom-style: solid;
    border-top: none;
}

.dropdown:after {
    margin-top: 7px;
    border-top-style: solid;
    border-bottom: none;
}


/* Fix for IE 8 putting the arrows behind the select element. */

.lt-ie9 .dropdown {
    z-index: 1;
}

.dropdown-dark {
    background: #191925;
    border-color: #111111 #152236 #161425;
    /* background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4)); */
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
    /* background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4)); */
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
    color: white;
}

.dropdown-dark:before {
    border-bottom-color: #aaa;
}

.dropdown-dark:after {
    border-top-color: #aaa;
}

.dropdown-dark .dropdown-select {
    color: #aaa;
    text-shadow: 0 1px black;
    background: #444;
    /* Fallback for IE 8 */
}

.dropdown-dark .dropdown-select:focus {
    color: #ccc;
}

.dropdown-dark .dropdown-select>option {
    background: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

/************************************************ side menu *******/

.menu {
    font-weight: 100;
    background: #0f2a4c;
    width: 450px;
    height: 100%;
    padding-left: 51px;
    position: fixed;
    z-index: 100;
    -webkit-box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -3px 0px 5px 0px rgba(0, 0, 0, 0.2);
    right: -400px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    color: #e9e9e9;
  }
  .menu:hover, .menu:focus {
    transform: translate3d(-400px, 0, 0);
    animation-timing-function: 1s ease-in;
  }
  .menu .title {
    top: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transform: rotate(270deg);
    left: 10px;
    font-weight: 800;
    font-size: 15px;
  }
  
  
  