@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');
@import '../../node_modules/font-awesome/css/font-awesome.css';
@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/react-toastify/dist/ReactToastify.css';
@import url('https://fonts.googleapis.com/css?family=Charmonman');
@import 'vars.scss';
@mixin bg-size($bg) {
    -webkit-background-size: $bg;
    -moz-background-size: $bg;
    -o-background-size: $bg;
    background-size: $bg;
}

html {
    body {
        color: white;
        #fullscreen {
            position: fixed;
            top: 10px;
            right: 10px;
        }
        &::-webkit-scrollbar {
            width: 1em;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }
        .card {
            background-color: inherit !important;
            .card-header {
                font-weight: bolder;
                color: $highlight-text;
            }
        }
        scroll-behavior: smooth;
        margin: 0;
        font-family: 'Libre Baskerville',
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        'Helvetica Neue',
        Arial,
        sans-serif;
        height: 100vh;
        overflow: auto;
        background: url(../images/bg.jpg) no-repeat center center fixed;
        @include bg-size('cover');
        .fixed-bottom {
            z-index: 99 !important;
        }
        .bg-dark {
            background-color: transparent !important;
        }
        .navbar {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 5px;
            color: white;
        }
        /* *******************************************  clock *********************************************** */
        #barclock {
            font-family: 'Share Tech Mono', monospace;
            color: #ffffff;
            text-align: center;
            letter-spacing: 0.05em;
            .time {
                font-size: xx-small;
            }
        }
        @media (max-width: 640px) {
            #barclock {
                display: none;
            }
        }
        /* *********************************************** Popper js ************************************************* */
        .popover {
            color: white !important;
            .popover-header {
                background-color: #000000 !important;
                color: yellow;
                text-align: center;
            }
            .popover-body {
                color: white !important;
                background-color: #000000;
                img.popupimage {
                    margin: 10px;
                    border: 1px solid #1b1b17;
                }
            }
        }
        /* *********************************************** side menu ************************************************ */
        .animate {
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .navbar-fixed-left {
            position: static;
            top: 0px;
            left: 0px;
            border-radius: 0px;
        }
        .navbar-minimal {
            position: fixed;
            display: inline;
            min-height: 60px;
            max-height: 100%;
            border-width: 0px;
            z-index: 10;
            > {
                .navbar-toggler {
                    position: absolute;
                    z-index: 100;
                    cursor: pointer;
                    top: 20px;
                    left: 10px;
                    i {
                        position: absolute;
                        -moz-transition: -moz-transform 0.3s ease-out 0s;
                        -o-transition: -moz-transform 0.3s ease-out 0s;
                        -ms-transition: -ms-transform 0.3s ease-out 0s;
                        transition: transform 0.3s ease-out 0s;
                        -webkit-transform: rotate(0deg);
                        -moz-transform: rotate(0deg);
                        -o-transform: rotate(0deg);
                        -ms-transform: rotate(0deg);
                        transform: rotate(0deg);
                    }
                }
                .navbar-menu {
                    position: absolute;
                    top: -1000px;
                    left: 0px;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    z-index: 50;
                    background-color: transparent !important;
                    >li {
                        margin: 0px;
                        padding: 0px;
                        border-width: 0px;
                        height: 54px;
                        >a {
                            position: relative;
                            display: inline-block;
                            color: rgb(255, 255, 255);
                            padding: 20px 23px;
                            text-align: left;
                            cursor: pointer;
                            border-bottom: 1px solid rgb(81, 81, 81);
                            width: 100%;
                            text-decoration: none;
                            margin: 0px;
                            &:last-child {
                                border-bottom-width: 0px;
                            }
                            &:hover {
                                background-color: $highlight-text;
                            }
                        }
                    }
                }
            }
            &.open {
                width: 60px;
                >.navbar-menu {
                    overflow: visible;
                    background-color: #191925;
                    top: 60px;
                    min-height: 100%;
                }
            }
            >.navbar-menu>li>a {
                >.desc {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    left: 130px;
                    margin-top: -20px;
                    margin-left: 20px;
                    text-align: left;
                    white-space: nowrap;
                    padding: 10px 13px;
                    border-width: 0px !important;
                    background-color: #191925;
                    opacity: 0;
                    &::after {
                        z-index: -1;
                        position: absolute;
                        top: 50%;
                        left: -10px;
                        margin-top: -10px;
                        content: '';
                        width: 0;
                        height: 0;
                        border-top: 10px solid transparent;
                        border-bottom: 10px solid transparent;
                        border-right: 10px solid rgb(51, 51, 51);
                        border-right-color: rgba(51, 51, 51, 0.8);
                    }
                }
                &:hover>.desc {
                    left: 60px;
                    opacity: 1;
                }
            }
        }
        /* *************************************  MODAL *************************************** */
        .modal-content {
            color: white;
            background-color: rgba(7, 7, 7, 0.75);
        }
        .modal-header,
        .modal-footer {
            border: none;
        }
        /* ************************************* END MODAL *************************************** */
    }
}