.vline {
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    z-index: 25;
    border-right: 3px #800808 solid;
    box-shadow: 4px 8px 16px 3px #805353;
    transition: margin 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.vline .vheader {
    position: absolute;
    top: 0;
    left: -16px;
    width: 36px;
    height: 14px;
    overflow: hidden;
}

.vline .vheader::after {
    content: "";
    position: absolute;
    left: -3px;
    width: 42px;
    height: 27px;
    background-color: #ff00ee;
    background: radial-gradient(#ff0002 6%, #000000);
}