.vline {
    position: absolute;
    height: 100%;
    width: 0px;
    top: 0;
    left: 0;
    z-index: 25;
    border-right: 3px #800808 solid;
    box-shadow: 4px 8px 16px 3px #805353;
    transition: margin 1s cubic-bezier(0.23, 1, 0.320, 1);
}

.vline .vheader {
    position: absolute;
    top: 0;
    left: -16px;
    width: 36px;
    height: 14px;
    overflow: hidden;
}

.vline .vheader::after {
    content: "";
    position: absolute;
    left: -3px;
    width: 42px;
    height: 27px;
    background-color: #ff00ee;
    background: radial-gradient(#ff0002 6%, #000000);
}
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    width: 100%;
}

.spinner-wrapper {
    min-width: 100%;
    min-height: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 300;
}

.spinner-text {
    position: absolute;
    top: 41.5%;
    left: 47%;
    margin: 21px 0 0 51px;
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: 700
}

.spinner {
    margin: 0;
    display: block;
    position: absolute;
    left: 45%;
    top: 40%;
    border: 37px solid rgba(175, 23, 23, 0.57);
    width: 1px;
    height: 1px;
    border-left-color: transparent;
    border-right-color: transparent;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-animation: spin 1.5s infinite;
    -moz-animation: spin 1.5s infinite;
    animation: spin 1.5s infinite;
}

@-webkit-keyframes spin {

    0%,
    100% {
        -webkit-transform: rotate(0deg) scale(1)
    }

    50% {
        -webkit-transform: rotate(720deg) scale(0.6)
    }
}

@-moz-keyframes spin {

    0%,
    100% {
        -moz-transform: rotate(0deg) scale(1)
    }

    50% {
        -moz-transform: rotate(720deg) scale(0.6)
    }
}

@-o-keyframes spin {

    0%,
    100% {
        -o-transform: rotate(0deg) scale(1)
    }

    50% {
        -o-transform: rotate(720deg) scale(0.6)
    }
}

@keyframes spin {

    0%,
    100% {
        transform: rotate(0deg) scale(1)
    }

    50% {
        transform: rotate(720deg) scale(0.6)
    }
}